header {
  height: 100vh;
  padding-top: 2.5rem;
  overflow: hidden;
}

.header_container {
  text-align: center;
}

.image-container {
  margin-top: 3rem;
  padding-top: 0.5rem;
  width: 35%;
  height: 58vh;
  margin-inline: auto;
  background-color: var(--color-primary);
  position: relative;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.fitting-image {
  display: block;
  margin-inline: auto;
  transform: scale(1.13);
  position: absolute;
  margin-top: 0.65rem;
}

.cta {
  margin-top: 2rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

.header-socials {
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  position: absolute;
  bottom: 3rem;
}

hr {
  width: 1px;
  height: 2rem;
  background-color: var(--color-primary);
  /* justify-self: center; */
  align-self: center;
}

.scroll-down {
  /* width: 100%; */
  position: absolute;
  right: 8.25%;
  bottom: 8rem;
  transform: rotate(90deg);
  letter-spacing: 0.2rem;
}